In [1]:
from __future__ import print_function, absolute_import
from gm.api import *

In [2]:
import os
juejin_token = os.environ['juejin_token']
# 掘金的官网可以免费申请 token

set_token(juejin_token)

In [3]:
history_data = history(symbol='SZSE.128025', frequency='1d', start_time='2021-04-14',end_time='2023-08-18', df=True)

GmError: {"status": 1001, "message": "无法连接到终端服务", "function": "history"}

In [27]:
history_data.head(10)

,symbol,frequency,open,high,low,close,volume,amount,pre_close,bob,eob,position
0,SZSE.128025,1d,98.700,99.129,98.700,98.900,16710,1.6536e+06,98.700,2021-04-14 00:00:00+08:00,2021-04-14 00:00:00+08:00,0
1,SZSE.128025,1d,98.903,99.320,98.900,99.199,12470,1.2355e+06,98.900,2021-04-15 00:00:00+08:00,2021-04-15 00:00:00+08:00,0
2,SZSE.128025,1d,98.901,99.487,98.900,99.287,25222,2.5013e+06,99.199,2021-04-16 00:00:00+08:00,2021-04-16 00:00:00+08:00,0
3,SZSE.128025,1d,99.201,99.446,99.132,99.280,34200,3.3957e+06,99.287,2021-04-19 00:00:00+08:00,2021-04-19 00:00:00+08:00,0
4,SZSE.128025,1d,99.300,99.800,99.300,99.650,19050,1.8962e+06,99.280,2021-04-20 00:00:00+08:00,2021-04-20 00:00:00+08:00,0
5,SZSE.128025,1d,100.006,107.900,100.006,106.300,4464447,4.7222e+08,99.650,2021-04-21 00:00:00+08:00,2021-04-21 00:00:00+08:00,0
6,SZSE.128025,1d,106.000,112.500,103.505,107.890,4579477,5.0238e+08,106.300,2021-04-22 00:00:00+08:00,2021-04-22 00:00:00+08:00,0
7,SZSE.128025,1d,108.000,112.890,103.220,103.700,3612113,3.8805e+08,107.890,2021-04-23 00:00:00+08:00,2021-04-23 00:00:00+08:00,0
8,SZSE.128025,1d,104.500,108.800,102.999,103.206,2368267,2.4896e+08,103.700,2021-04-26 00:00:00+08:00,2021-04-26 00:00:00+08:00,0
9,SZSE.128025,1d,103.000,103.205,101.208,102.099,668050,6.8183e+07,103.206,2021-04-27 00:00:00+08:00,2021-04-27 00:00:00+08:00,0

In [34]:
history_data_df =get_history_instruments('SZSE.128025', fields=None, start_date='2020-01-01', end_date='2023-08-10', df=True)

In [39]:
history_data_df[['symbol','pre_close','conversion_price','underlying_symbol','listed_date']].tail()

,symbol,pre_close,conversion_price,underlying_symbol,listed_date
870,SZSE.128025,186.000,8.93,SZSE.002728,2017-12-28 00:00:00+08:00
871,SZSE.128025,185.060,8.93,SZSE.002728,2017-12-28 00:00:00+08:00
872,SZSE.128025,182.480,8.93,SZSE.002728,2017-12-28 00:00:00+08:00
873,SZSE.128025,191.000,8.93,SZSE.002728,2017-12-28 00:00:00+08:00
874,SZSE.128025,192.499,8.93,SZSE.002728,2017-12-28 00:00:00+08:00

In [44]:
get_constituents(index='SHSE.000300', fields='symbol, weight', df=True)

          symbol  weight
0    SHSE.600019    0.29
1    SZSE.300274    0.59
2    SHSE.600025    0.06
3    SZSE.300999    0.13
4    SHSE.601868    0.16
..           ...     ...
295  SZSE.002129    0.48
296  SZSE.002304    0.45
297  SHSE.600015    0.19
298  SZSE.300450    0.18
299  SZSE.002410    0.22

[300 rows x 2 columns]

In [9]:
get_contract_expire_rest_days(symbols='CFFEX.IM2212', start_date='2022-12-12', end_date='2022-12-16', trade_flag = True, df=True)

         date        symbol  days_to_expire
0  2022-12-12  CFFEX.IM2212               4
1  2022-12-13  CFFEX.IM2212               3
2  2022-12-14  CFFEX.IM2212               2
3  2022-12-15  CFFEX.IM2212               1
4  2022-12-16  CFFEX.IM2212               0

In [20]:
im_data = get_history_symbol(symbol='CFFEX.IM2212', start_date='2022-12-12', end_date='2022-12-16', df=True)

In [21]:
im_data.tail(5)

,trade_date,position,settle_price,pre_settle,pre_close,upper_limit,lower_limit,margin_ratio,multiplier,is_adjusted,...,listed_date,delisted_date,underlying_symbol,board,trade_n,option_type,option_margin_ratio1,option_margin_ratio2,call_or_put,conversion_start_date
0,2022-12-12 00:00:00+08:00,40334,6665.80,6677.4,6684.8,7345.0,6009.8,0.15,200,False,...,2022-07-22 00:00:00+08:00,2022-12-16 00:00:00+08:00,SHSE.000852,0,0,,0.0,0.0,,None
1,2022-12-13 00:00:00+08:00,36462,6604.40,6665.8,6654.6,7332.2,5999.4,0.15,200,False,...,2022-07-22 00:00:00+08:00,2022-12-16 00:00:00+08:00,SHSE.000852,0,0,,0.0,0.0,,None
2,2022-12-14 00:00:00+08:00,27501,6565.40,6604.4,6604.8,7264.8,5944.0,0.15,200,False,...,2022-07-22 00:00:00+08:00,2022-12-16 00:00:00+08:00,SHSE.000852,0,0,,0.0,0.0,,None
3,2022-12-15 00:00:00+08:00,15696,6602.60,6565.4,6573.6,7221.8,5909.0,0.15,200,False,...,2022-07-22 00:00:00+08:00,2022-12-16 00:00:00+08:00,SHSE.000852,0,0,,0.0,0.0,,None
4,2022-12-16 00:00:00+08:00,0,6515.43,6602.6,6600.6,7923.0,5282.2,0.15,200,False,...,2022-07-22 00:00:00+08:00,2022-12-16 00:00:00+08:00,SHSE.000852,0,0,,0.0,0.0,,None